* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #595959;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container {
    width: 320px;
    min-height: 520px;
    background-color: #35ABD9;
    border: 3px solid #35ABD9;
    border-radius: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    padding: 8px 8px;
    margin: 100px auto;
    position: relative;
}

header {
    background-color: #32327c;
    padding: 10px;
}

header h1 {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin: 0;
}

input {
    border: 1.5px solid #fff;
    border-radius: 20px;
    padding: 6px 0;
    margin: 10px 0;
    text-align: center;
}

.result-area {
    width: 230px;
    margin-left: auto;
    box-sizing: border-box;
    background-color: #3CEE36;
    border: 2px solid #3CEE36;
    border-radius: 20px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.result-box {
    width: 200px;
    height: 60px;
    background-color: #fff;
    border-radius: 25px;
    margin-left: auto;
}

button {
    background-color: #fff;
    border: 3px solid #fff;
    border-radius: 20px;
    padding: 5px 35px;
    text-align: left;
    position: absolute;
    left: 10px;
    bottom: 20px;
}