<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>壮大な言い訳</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <div class="container">

        <header>
            <h1>壮大な言い訳</h1>
        </header>

        <main>

            <form method="POST" action="/generate">

                <div class="theme-area">
                    <input
                        type="text"
                        name="result"
                        value="{{ input_value }}"
                        placeholder="例：遅刻しました。"
                    >
                    <span></span>
                </div>

                <div class="reply-area">
                    <div class="reply-box">
                        なんでだ！
                    </div>
                </div>
                
                <div class="result-area">
                    <div class="result-box">{{ row_1 }}</div>
                    <div class="result-box">{{ row_2 }}</div>
                    <div class="result-box">{{ row_3 }}</div>
                    <div class="result-box">{{ row_4 }}</div>
                </div>

                <button type="submit">言い訳する！</button>

            </form>

        </main>

    </div>

</body>

</html>