<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>壮大な言い訳</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>

    <div class="container">

        <header>
            <h1>佐藤さん</h1>
        </header>

        <main>

            <form method="POST" action="/generate">

                <!-- start.htmlで選択したカテゴリを保持する -->
                <input type="hidden" name="category" value="{{ category }}">

                <div class="contents-box">
                    {{ row_4 }}
                </div>


                <div class="reply-box">
                    どうしてですか？
                </div>

                <div class="message-area">

                    <div class="result-area">

                        <div class="result-box">
                            {{ row_1 }}
                        </div>

                        <div class="result-box">
                            {{ row_2 }}
                        </div>

                        <div class="result-box">
                            {{ row_3 }}
                        </div>

                        <div class="result-box">
                            {{ row_4 }}
                        </div>

                    </div>

                    <span class="read">
                        既読
                    </span>

                </div>

                <div class="footer">

                    <button type="submit" class="reset-button">
                        <strong>言い訳を考え直す</strong>
                    </button>

                    <button type="submit" class="send-button">
                        ▶︎
                    </button>

                </div>

            </form>

        </main>

    </div>

</body>

</html>