<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>カテゴリ選択</title>
    <link rel="stylesheet" href="/static/start.css">
</head>

<body>
    <div class="phone">

        <img src="/static/images/orehawarukunai.png" alt="タイトル" class="title-image">

        <form method="POST" action="/input">

            <p>言い訳したい内容を選んでね！</p>

            <div class="tag-area">

                <select name="category" id="category" required>
                    <option value="" selected disabled>
                        カテゴリの選択
                    </option>

                    <option value="movement">
                        遅刻・移動
                    </option>

                    <option value="submission">
                        提出物
                    </option>

                    <option value="communication">
                        連絡
                    </option>

                    <option value="general">
                        その他
                    </option>
                </select>
                <span class="after-text">の言い訳をする！</span>
            </div>

            <button type="submit">
                連絡する！
            </button>

        </form>
    </div>

</body>

</html>